.lead{
    max-width: 984px;
    margin: 0 auto 92px;
}
@media  (max-width:1024px){
    .lead{
        max-width: 928px;
        margin: 0 auto 88px;
    }
}
@media (max-width:767px){
    .lead{
        max-width: 100%;
        margin: 0 auto 64px;
    }
}
