.lead__title{
    margin: 0 auto 24px;
    max-width: 720px;
    text-align: center;
    font-weight: 900;
    line-height: 100px;
    font-size: 96px;
    color: white;
}
@media (min-width:426px) and (max-width:768px){
    .lead__title{
        max-width: 100%;
        font-size: 12.5vw;
        line-height: 12vw;
    }
}
@media (max-width:425px){
    .lead__title{
        margin: 0 auto 16px;
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
}