@font-face {
    font-family:'Inter';
    src: url(../../Inter-2/static/Inter-Bold.ttf);
    font-weight:700;
}
@font-face {
    font-family:'Inter';
    src: url(../../Inter-2/static/Inter-Black.ttf);
    font-weight:900;
}
@font-face {
    font-family:'Inter';
    src: url(../../Inter-2/static/Inter-Regular.ttf);
    font-weight: 400;
}