@font-face {
  font-family: 'Inter';
  src: url(./static/Inter-Bold.ttf) format("ttf"),
       url(./static/Inter-Bold.woff) format("woff"),
       url(./static/Inter-Bold.woff2) format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: 'Inter';
  src: url(./static/Inter-Black.ttf) format("ttf"),
       url(./static/Inter-Black.woff)format("woff")
       url(./static/Inter-Black.woff2)format("woff2");
  font-weight: 900;
}
@font-face {
  font-family: 'Inter';
  src: url(./static/Inter-Regular.ttf)format("ttf"),
       url(./static/Inter-Regular.woff)format("woff"),
       url(./static/Inter-Regular.woff2)format("woff2");
  font-style: regular;
  font-weight: 400;
}