.lead__figure{
    margin: 0;
}
@media (max-width:768px){
    .lead__figure{
        margin: 0 auto;
        max-width: 100%;
    }
}
@media (max-width:425px){
    .lead__figure{
        max-width: 425px;
    }
}